{% extends "index.html" %}

{% block content %}
    <link rel="stylesheet" href="../../static/css/hi-lo.css"> 
    
    {% if play_with == 'play-with-coins' %}
        <p>Coin total: <span id="currency">{{ currency }}</span></p>
    {% elif play_with == 'play-with-cash' %}
        <p>Sweep Cash total: <span id="currency">{{ currency }}</span></p>
    {% endif %}

    <h2>Hi Lo</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form id="my-form">
                    {{ form.hidden_tag()}}

                    <p> {{ form.amount.label }} </p> 
                    <div class="input-group mb-3">

                        <span class="input-group-text">$</span> 
                        {{ form.amount(id="bet-amount", class="form-control", placeholder="0.00") }}
                        <ul class="errors">
                            {% for error in form.amount.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="mb-3">
                        <p>{{ form.multiplier.label }} {{ form.multiplier(id="multiplier-data", class="form-select")}}</p>
                    </div>
                </form>
                <div>
                    <button onclick="play('lower', '{{ play_with }}')" class="btn btn-outline-primary">Lower</button>
                    <button onclick="play('higher', '{{ play_with }}')" class="btn btn-outline-primary">Higher</button>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <!-- Current card are displayed here-->
                <div id="cards"></div> 

                <!-- Last 5 cards are displayed here -->
                <div id="my-card"></div>
            </div>
        </div>
    </div>
    
    <br>
    <br>
    <br>
    <!-- Javascript for Hi-Lo game -->
    <script src="../../static/js/hi-lo.js"></script>

{% endblock %}