{% extends "index.html" %}

{% block content %}
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
        {% for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }} 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <p>This is the home page</p>
{% endblock %}